body {  background-color: gray;
	width: 100wd;
	height: 100vh;
	padding: 20px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: sans-serif;
     }
.box { background-color: pink;
	color: red;
	width: 95wd;
	height: 80vh;
	padding: 20px;
	margin: 10px;

