 body {
       width: 95wd;
       height: 80vh;
       background-color: gray;
       color: black;
       padding: 20px;
       margin: 0px;
       display: flex;
       justify-content: center;
       align-items: center;
       text-align: center;
       font-family: sans-serif;
     }

.box  {
       background-color: pink;
       width: 75vh;
       height: 70vh;
       text-align: center;
       align-items: center;
       display: flex;
	justify-content: center;
       flex-direction: column;
       padding: 20px;
       margin: 20px;
       box-shadow: 5px 5px 5px black;
       border: 5px solid black;
       border-radius: 10px;
       box-sizing: border-box;
      }

 h1     {
          color: black;
          font-size: 50px;
          text-align: center;
          margin: 30px;
	  font-weight: bold;
	  display: flex;
	  justify-content: center;
	  align-items: center;

        }
 
   h2   { color: black;
          font-size: 30px;
	  font-weight: bold;
          text-align: center;
          margin: 40px;
	  margin-left: 10px;
	  display: flex;
	  justify-content: flex-start;
        }
   p    {
          color: black;
          font-size: 20px;
          text-align: center;
          margin: 15px;
	  display: flex;
	  justify-content: center;
	  align-items: center;
        }        
button  {
	 background-color: yellow;
	 color: blue;
	 height: 60px;
	 width: 100px;
	 margin: 10px;
	 padding: 10px;
	 display: flex;
	 justify-content: flex-end;
	 text-align: center;
	 border-radius: 10px;
	 box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.5);
         border: 2px solid black;
	 font-weight: bold;
	}
button:hover {background-color: darkblue;}

.nav-arrow {
    text-decoration: none;   
    font-size: 40px;         
    color: black;            
    padding: 10px;           
    transition: 0.3s;       
}

.nav-arrow:hover {
    font-size: 50px;
    cursor: pointer;
}
