 body {
       width: 95wd;
       height: 80vh;
       background-color: gray;
       color: black;
       padding: 20px;
       margin: 0px;
       display: flex;
       justify-content: center;
       align-items: center;
       text-align: center;
       font-family: sans-serif;
     }

.box  {
       background-color: pink;
       width: 75vh;
       height: 70vh;
       text-align: center;
       align-items: center;
       display: flex;
       flex-direction: column;
       padding: 20px;
       margin: 20px;
       box-shadow: 5px 5px 5px gray;
       border: 5px solid black;
       border-radius: 10px;
       box-sizing: border-box;
      }

 h1     {
          color: black;
          font-size: 50px;
          text-align: center;
          margin: 20px;
        }
 
   h2   { color: black;
          font-size: 30px;
          text-align: center;
          margin: 20px;
        }
   p    {
          color: black;
          font-size: 20px;
          text-align: center;
          margin: 15px;
        }        
button  {
	 background-color: pink;
	 color: red;
	 height: 40px;
	 width: 60px;
	 margin: 10px;
	 padding: 10px;
	 text-align: center;
	 border-radius: 10px;
	 box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.5);
         border: 2px solid black;
	}
button:hover {background-color: darkblue;}
